/* arribapx derechapx abajopx izquierdapx*/
h1{
	color:#025157;
	text-align: center;
	font-family: 'Roboto', sans-serif; 
}

.clase1 {
	color:blue;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
}

.capterra{
	width: 450px;
	max-width: 90%;
}

.header{
	margin-top: 40px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 0;
	height: 70px;
}

.header >*{
	display: inline;
	font-size: 16px;
	vertical-align: middle;
	height: 100%;
	line-height: 45px;
}

main{
	text-align: center;
	margin-top: 285px;

}

.logo {
	width: 25%;
}

.logo > img{
	width:50%;
	height: 100%;
	margin-left: 25%;
	margin-right: auto;
}
.navbar {
	width: 70%;
	/*margin: 25px 25px 0 25px;*/
	color:#025157;
	text-align: center;
	font-weight: 500;

}

.navbar >*{
	display: flex;
	justify-content: center;
}

.actions{
	width: 15%;
	font-size: 14px;
	margin: auto;
	text-align: center;
	display: inline;
	/*Opciones de menu*/
}

.blanco{
	color:black;
	border-radius:15px;
	border-style: solid;
    border-color: #92a8d1;
    margin:auto;
    display: inline;
	padding:12px 14px 12px 14px;
}

.boton{
	border: 0;
	border-radius: 5px;

	padding:12px 14px 12px 14px;
	width: 100px;
	height: 50px;
	margin: auto;
	background: white;
}

/*los acomoda*/
li {
	display: inline-block;
	text-align: center;
	width: 12%;
	font-size: 25px;
	margin: 10px 10px 0 10px;
	
}


div{
	display: flex;
}


.promo{
	display: flex;
	width: 70%;
	margin: 10px auto;
}


video{
	margin: 10px 10px 10px 10px;
}



.publish {
  /* container styles if any */
}

.publish h3 {
  font-family: 'Alegreya', serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: powderblue;
}

.imgcentro{
	vertical-align: center;
	border-style: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%
}

.features {
  background-color: #025157;
  padding: 5% 10%;
  display: grid;
  grid-template: repeat(2, 330px) / repeat(2, 1fr);
}

.features .feature-card {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  /*vertical-align: left;*/
  display: flex;
  /*align-items: center;*/
  overflow: hidden;  /*???*/
}

.features .feature-card .feature-content {
  padding: 30px 20px 40px 40px;
  flex: 2;
  align-items: flex-start;   /*???*/
  display: block;
}

.features .feature-card .feature-content > * {
  margin-bottom: 1rem;
  margin-top: 0;
}


.features .feature-card .feature-content img {
  width: 50px;
 /* align-items: flex-start;
  align-content: left;*/
}
img{
	width: 150px;
}
.features .feature-card .feature-content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
  text-align: left;
}

.features .feature-card .feature-content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
  text-align: left;

}

.features .feature-card .feature-content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
  text-align: left;
}

.features .feature-card .feature-image {
  flex: 1;
  width: 30%;
  position: relative;
  right: 60px; /*???*/
  height: 80%;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
  padding-left: 10px;
}

.figure{
	display: flex;
	margin-left:  0;
	width: 100px;
	height: 50px;
}
/*_________________________________________________________________growing________________________________________*/
.secc-flex{
	background-color: #a1d683;
  	padding: 5% 10%;
  	display: flex;
  	justify-content: space-around;
}

.secc-flex .contenido{
	width: 60%;
	height: 700px;
	padding-right: 50%;
	margin-top: 100px;
	margin-left: 80px;
	flex: 2;
	display: block; /*porque con esto cambia la imagen*/
	
}

.secc-flex .contenido .growing{/*header*/
	font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
	
}
.secc-flex .contenido .textgr{
	color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;

}

.secc-flex .contenido img{
	width: 500px;
    max-width: 100%;
}
.boton-contenido{
	background-color: #025157;
    color: #fff;  
    height: 75px;
    border: solid;
    border-radius: 16px 16px 16px 16px;
    /*padding: 5px 10px;
    display: block;*/
	font-weight: 600;
}

.lateral{
	background-color: white;
	border-radius: 16px 16px 16px 16px;
	max-width: 370px;
    width: 100%;
}


.lateral img{
	margin-top: 0;
	border-color: black;
	border: solid;
	border-radius: 100%;
}

.lateral .circulo{
	position: absolute;
	right: 20px;
	width: 100px;
	height: 100px;
	background-color: #f9da73;
	border-radius: 100%;
	display: flex;
    justify-content: center;
    align-items: center;    
    
}

.boton-lateral{
	background-color: green;
	color: white;
	border-radius: 16px 16px 16px 16px;
	max-width: 370px;
    width: 100%;
    align-items:  center;
}

.divblock{
	display: block;
}