h1{
	color:#025157;
	text-align: center;
	font-family: 'Roboto', sans-serif; 
}

.clase1 {
	color:blue;
	text-align: left;
	font-family: 'Roboto', sans-serif;
}

.menu {
	width: 100%;
	text-align: center;
	color: blue;
	vertical-align: middle;
}
/*los acomoda*/
li {
  display: inline;
}
/*comentario*/
/*alinea el contenido*/
ul{
	display: flex;
}